*{
    padding: 00;
    box-sizing: border-box;
}
body{
    direction: rtl;
}
h1{
    text-align: center;
    width: 300px;
    height: 40px;
    position: absolute;
    left: calc(50% - (300px / 2));
    top: calc(30% - 20px);
}
h2{
    text-align: center;
    width: 300px;
    height: 40px;
    position: absolute;
    left: calc(50% - (300px / 2));
    top: calc(45% - 20px);
}
audio{
    display: none;
}
img{
    width: 200px;
    border-radius: 100%;
    position: absolute;
    left: calc(50% - (200px / 2));
    top: 20px;
    border: 8px #000 double;
    animation: example 4s infinite ease;
}
@keyframes example {
    0%   {rotate: 0deg;}
    7%   {rotate: 30deg;}
    170%   {rotate: 60deg;}
    25%   {rotate: 90deg;}
    33%   {rotate: 120deg;}
    42%   {rotate: 150deg;}
    52%   {rotate: 180deg;}
    62%   {rotate: 210deg;}
    72%   {rotate: 240deg;}
    80%   {rotate: 270deg;}
    88%   {rotate: 300deg;}
    92%   {rotate: 330deg;}
    100%   {rotate: 360deg;}
  }
