*{
    padding: 00;
    box-sizing: border-box;
}
body{
    direction: rtl;
}
h1{
    text-align: center;
    width: 350px;
    height: 40px;
    position: absolute;
    left: calc(50% - (350px / 2));
    top: calc(30% - 20px);
}
audio{
    display: none;
}
